:root {
  // --accent-primary: #00ff00;
  --accent-primary: #0f9452;
  // --accent-primary-dark: #00cc00;
  --accent-primary-dark: #0f9452;
  --text-primary: #000000;
  --text-secondary: #333333;
  --background-light: #ffffff;
  --background-dark: #f8f9fa;
  --border-color: #e0e0e0;
  --section-bg: #f8f9fa;
  --card-bg: #ffffff;
  --hover-color: #00cc00;
} 